*{
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}


body{

    margin:0;
    background:#f4f6f9;
    display:flex;

}


/* LATERAL */

.sidebar{

    width:300px;
    min-height:100vh;
    background:white;
    padding:20px;
    box-shadow:0 0 15px #ccc;

}


.logo{

    font-size:25px;
    font-weight:bold;
    text-align:center;
    color:#c99700;
    margin-bottom:20px;

}



.sidebar h3{

    text-align:center;
    color:#555;

}


/* BOTON VOLVER */

.btn-volver{

    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#d4a017;
    color:white;
    cursor:pointer;
    margin-bottom:20px;
    font-weight:bold;

}


/* BOTONES CONTROL */

.acciones-sorteos{

    display:flex;
    gap:8px;
    margin-bottom:15px;

}


.acciones-sorteos button{

    flex:1;
    padding:8px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    background:#eee;

}



/* LOTERIAS */

#listaSorteos h4{

    margin:15px 0 8px;
    color:#b8860b;

}




.btn-sorteo{

    width:31%;
    margin:3px;
    padding:8px;
    border:none;
    border-radius:6px;
    background:#e9ecef;
    cursor:pointer;
    font-size:13px;

}



.btn-sorteo:hover{

    background:#ffe7a3;

}



.btn-sorteo.active{

    background:#d4a017;
    color:white;
    transform:scale(1.05);

}




/* CONTENIDO */

.main-content{

    flex:1;
    padding:30px;

}




.card,
.ticket{

    background:white;
    border-radius:15px;
    padding:25px;
    margin-bottom:25px;
    box-shadow:0 5px 15px #ddd;

}



.card h2,
.ticket h2{

    color:#b8860b;

}



label{

    display:block;
    margin-top:15px;
    font-weight:bold;

}




input{

    width:100%;
    padding:14px;
    margin-top:5px;
    border:1px solid #ddd;
    border-radius:8px;
    font-size:18px;

}





.btn-agregar,
.btn-imprimir{


    width:100%;
    padding:15px;
    margin-top:20px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:18px;
    font-weight:bold;

}



.btn-agregar{

    background:#d4a017;
    color:white;

}



.btn-imprimir{

    background:#198754;
    color:white;

}





/* TICKET */

.ticket-item{

    padding:15px 0;
    border-bottom:1px dashed #aaa;
    line-height:1.6;

}



.ticket-item strong{

    display:block;
    text-align:right;
    color:#198754;

}




.total{

    margin-top:20px;
    padding:15px;
    font-size:22px;
    font-weight:bold;
    text-align:right;
    color:#b8860b;

}



/* RESPONSIVE */

@media(max-width:900px){


body{

    flex-direction:column;

}


.sidebar{

    width:100%;

}


.btn-sorteo{

    width:30%;

}


}
