body{

font-family:Arial, sans-serif;

background:#f4f6f8;

margin:0;

}



header{

background:#d4af37;

padding:20px;

display:flex;

justify-content:space-between;

align-items:center;

}



.logo{

font-size:25px;

font-weight:bold;

}



button{

padding:10px 15px;

border:none;

border-radius:8px;

cursor:pointer;

}



main{

padding:25px;

}



.filtros{

background:white;

padding:20px;

border-radius:15px;

margin-bottom:20px;

}



.resumen{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

}



.card{

background:white;

padding:25px;

border-radius:15px;

text-align:center;

box-shadow:0 3px 10px #ccc;

}



.tabla,
.cierre{

background:white;

margin-top:25px;

padding:20px;

border-radius:15px;

}



table{

width:100%;

border-collapse:collapse;

}



th,
td{

padding:12px;

border-bottom:1px solid #ddd;

text-align:center;

}
